{% extends 'ttmhome.html' %}
{% block 'b1' %}
<h2 align="center"><font color="green"> Login Failed </font> </h2>
<table align="center" border="2" width="50%" height="50%" class="table table-bordered table-striped">
    <thead>
    <tr bgcolor="green">
        <td>Tour Code</td>
        <td>Tour Name </td>
        <td> Tour Package </td>
        <td> Description</td>


    </tr>
    </thead>
    <tbody id="myTable">
    {% for i in placesdata %}
    <tr align="center">
        <td>{{i.tourcode}}</td>
        <td>{{i.tourname}}</td>
        <td>{{i.tourpackage}}</td>
        <td>{{i.desc}}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}
